body{

font-family: Arial;
background-color: #F4F4F4;
padding: 20px;

}

h1{

text-align: center;

}

form{

background: white;
padding: 15px;
border-radius: 10px;
margin-bottom: 20px;

}

input, select, button{

padding: 8px;
margin: 5px;

}

table{

width: 100%;
background: white;
border-collapse: collapse;

}

th, td{

padding: 10px;
border: 1px solid gray;
text-align: center;

}

button{

cursor: pointer;

}